 /* GLOBAL STYLES */

html {
    padding: 0 50px;
}

 body {
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }

 .content-container {
    margin-top: 10vh;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
 }

  h1 {
    margin-top: 0;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }  
  a {
    color: #f00;
  }
  h2 {
    font-size: 2.5em;
  }

  h2 ~ p {
    max-width: 70%;
    text-align: center;
  }

  h4 {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
  }

/* HEADER STYLES */
.header-nav {
    float: right;
    padding: 20px 60px 0 0;
}

.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}

.header-nav > li ~ li {
    border-left: 1px solid #838e9e;
    padding-left: 1em;
}

.header-nav > li:first-child a {
    color: #ed6e2f;
}


.header-nav > li:first-child a:hover {
    color: black;
}

.header-nav a {
    color: black;
}


.header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 20;
    margin-left: -50px;
    height: 10vh;
}

.header-logo {
    height: 50px; 
    position: relative;
    text-align: center;
    display: block;
    width: 50px;
    margin-left: 20px;
    padding-top: 10px;
    background-color: #ed6e2f;
}

.header-logo:hover,
.header-logo:active {
    opacity: 0.5;
}

.header-logo > img {
    width: 100%;
    max-height: 50px;
    object-fit: contain;
    
}

.nav-links a:hover, 
.nav-links a:active {
    color: #ed6e2f;
}

.nav-links a,
.drop-trigger,
.show-mobile-menu {
  font-size: 0.8rem;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav {
  margin-top: 20px;
}

.footer-nav li {
    display: inline-block;
    padding-right: 1em;
}

.footer-nav li ~ li {
    border-left: 1px solid #838e9e;
    padding-left: 1em;
}

.footer {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100vw;
  margin-left: -50px;
  position: relative;
  margin-top: 100px;
  padding-left: 30px;
  box-sizing: border-box;
  border-top: 2px solid rgb(238, 238, 238);
  box-sizing: border-box;
}

.footer nav {
  margin-top: 45px;
}

.footer h3 {
  font-weight: 600;
}

.footer span {
  font-weight: 400;
  color: gray;
}

.footer-logo img{
  height: 50px; 
  width: 150px;
  object-fit: contain;
  margin-left: -10px;
}


/* DROPDOWN STYLES */

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  /* background-color: #ed6e2f; */
  display: none;
  padding: 1em 0 0;
  right: 0;  
}

.dropdown-menu a {
  text-transform: none;
  display: block;
  white-space: nowrap;
}

.dropdown-menu li {
  list-style: none;
  padding: 15px;
  background-color: white;
  /* margin: 5px; */
}

.dropdown-menu li:last-child {
  border-radius: 0 0 15px 15px;
}

.drop-trigger {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;
}

.drop-trigger:after {
  border: 0.3em solid;
  border-color: black transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.3em;
  width: 0;
}

.dropdown:hover .drop-trigger:after {
  border-color: #ed6e2f transparent transparent;
}

.dropdown:hover .drop-trigger {
  color: #ed6e2f;
}

.drop-trigger:hover .drop-trigger:after {
  border-color: #ed6e2f transparent transparent;
}

  /* HERO STYLES */
  .full-hero {
    background-color: #c7dbfc;
    height: 85vh;
    width: auto;
    position: relative;
    padding-top: 75px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    text-align: center;
  }

  .full-hero:after {
    content: "﹀";
    position: absolute;
    bottom: 2vh;
    color: white;
    font-size: 36px;
  }

  .hero-home {
    background-image: url(../images/hero.jpg);
    background-position: center;
  }

  

  .hero-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-content h1 {
    font-size: 7vw;
    color: white;
    opacity: 0.8;
  }

  .hero-content h5 {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .hero-content .social-link {
    background-color: rgba(255, 255, 255, 0.847);
    color: #838e9e;
  }

  .hero-content .social-link:hover {
    background-color: white;
    color: #838e9e;
  }

  .half-hero {
    background-position: center center;
    background-size: cover;
    height: 40vh;
  }

/* HOME-PAGE STYLES */

.home-callout {
  display: flex;
  align-items: center;
  margin-top: 100px;
  width: 90vw;
}

.callout-title {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 5.75vw;
  text-align: right;
  padding-right: 20px;
}

.callout-copy {
  flex-shrink: 0;
  flex-basis: 45em;
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.home-section {
  margin-top: 100px;
  text-align: center;
  width: 90vw;
}

.home-section h2 {
  margin-bottom: 20px;
}

.home-section h4 {
  margin-bottom: 0.5em;
  text-align: center;
}
.home-section .post-header {
  text-align: center;
}
.home-section .blog-posts {
  margin: auto;
  width: 75%;
}

.home-section p {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* SOCIAL STYLES */
  .social-link {
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #838e9e;
    box-sizing: border-box;
    border-radius: 99px;
    height: 2.5em;
    width: 2.5em;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1;
    padding-top: 0.85em;
  }

  .social-link:hover {
    background-color: #ed6e2f;
  }

  .social-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .social-list > li {
    display: inline-block;
    margin: 0 0.5em;
  }

  .social-list-footer {
    list-style: none;
    text-align: start;
    margin-top: 20px;
  }

  .social-list-footer > li {
    display: inline-block;
    margin: 0 0.5em;
  }
  /* BIO STYLES */
  .bio-wrapper {
    margin: 0 auto 30px;
    max-width: 960px;
    overflow: hidden;
    text-align: center;
  }

  .bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

  .bio-box {
    box-sizing: border-box;
    width: 28%;
    font-size: 1em;
    padding: 2%;
    float: left;
    margin: 40px 2% 0;
  }

  .bio-box .social-link {
    display: block;
    margin: 2em auto 1em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .bio-box img {
    width: 100%;
  }

  .bio-box h3 {
    font-size: 1.5em;
    text-align: center;
    margin: -35px 0 20px;
    color: white;
  }
  .bio-copy {
    color: black;
    line-height: 1.5;
  }

  /* COLUMN STYLES */

  .col-three {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

.col {
  box-sizing: border-box;
  padding: 20px;
}

.col ~ .col {
  border-left: 1px solid #838e9e;
}

  .col-three .col-nav {
    flex: 0 1 10em;
  }

  .col-three .col-content {
    flex: 1 1 0;
  }

  .col-three .col-aside {
    flex: 0 1 20em;
  }

  .col-two {
    display: flex;
  }
  .col-two .col-aside {
    flex: 0 0 20em;
    order: 1;
  }
  .col-two .col-content {
    flex: 1;
  }


/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}
.page h2 {
  margin-bottom: 0.5em;
}
.page h4 {
  margin-bottom: 1em;
}



/* GALLERY STYLES */

.gallery-thumbs {
  height: 90vh;
  overflow:scroll
}

.gallery-thumbs > div {
  cursor: pointer;
}

.gallery-thumbs img {
  box-sizing: border-box;
  box-shadow: 0 0 0 5px transparent;
  display: inline-block;
  margin: 0 0 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.gallery-thumbs img:hover {
  opacity: 1;
}

.gallery-thumbs .current img {
  box-shadow: 0 0 0 5px #ed6e2f;
  opacity: 1;
}

.gallery-photo {
  position: relative;
}

.gallery-photo img {
  width: 100%;
}

.gallery-info {
  font-size: 0.8rem;
}

.gallery-info h3 {
  margin-bottom: 1em;
}

/* BLOG STYLES */
.blog-recent {
  text-align: right;
}
.blog-title-list {
  list-style: none;
  padding: 0;
}
.blog-title-list li ~ li {
  margin-top: 1.5em;
}
.blog-title-list span {
  color: #999;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em;
}
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-top: 4em;
  padding-top: 4em;
}
.blog-posts .post-header {
  font-size: 0.8rem;
}
.post-header {
  margin-bottom: 1.5em;
}
.post-header img,
.post-header .social-link {
  margin-right: 0.5em;
}
.post-header img {
  border-radius: 99px;
  display: inline-block;
  height: 2.5em;
  vertical-align: middle;
}
.posts-image {
  background-position: center;
  background-size: cover;
  height: 6em;
  margin-bottom: 1.5em;
}

.post {
  width: 100%;
}
.post-content,
.post-footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.pull-left {
  float: left;
  margin: 2em 2em 2em -2%;
}
.pull-right {
  float: right;
  margin: 2em -2% 2em 2em;
}
.post-aside {
  background-color: rgba(0, 0, 0, 0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
}
.post-content {
  font-size: 1.1rem;
}
.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
  font-size: 0.8em;
  margin-top: 3em;
  padding-top: 2em;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

@media (max-width: 800px) {
      html {
        box-shadow: none;
        padding: 0;
      }

      .header, .footer {
        margin-left: 0 ;
      }

      .full-hero {
        width: 100%;
      }

      /* HEADER STYLES */
      .header-nav {
        padding: 2vh 1em 0 0;
      }
      .header-nav > li {
        margin-left: 0.25em;
      }
      .header-nav > li ~ li {
        padding-left: 0.25em;
      }
      .nav-links a {
        font-size: 3.25vw;
      }
      .header-logo {
        left: auto;
      }

      .post-aside {
        display: none;
      }

    .bio-wrapper {
      display: flex;
      flex-direction: column;
    }

    .bio-box {
      width: auto;
    }

    .home-callout {
      flex-direction: column;
    }

    .callout-copy {
      flex : 1  ;
    }

    .footer {
      width: 100%;
      display: none;
    }

    .col-three {
      flex-direction: column;
    }

    /* Mobile Menu */

    .show-mobile-menu {
      display: block;
      float: right;
      font-weight: bold;
      margin-top: 1.5vh;
      padding: 1.5em;
      position: relative;
      text-transform: uppercase;
    }

    .header-nav {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      transition: all 0.5s ease-in-out;
      position: absolute;
      margin-top: 10vh;
      text-align: center;
      width: 100vw;
      background-color: white;
    }

    .header-nav > li ~ li {
      border: none;
      /* padding-left: 0; */
  }

    .header-nav > li {
      margin-left: 0;
    }

    .header-nav li {
      display: block;
      padding: 10px;
    }

    .header-nav li ~ li {
      border: none;
      /* padding-left: 0; */
  }

  .drop-trigger {
    padding: 0;
  }

       /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: white;
    color: black;
    content: "CLOSE";
    left: 0;
    position: absolute;
    text-align: center;
    top: 1.5em;
    width: 100%;
  }

}