 /* GLOBAL STYLES */

html {
    padding: 0 50px;
}

 body {
    font-family: Arial, Helvetica, sans-serif;
 }
  h1 {
    margin-top: 0;
    font-size: 3em;
  }  
  a {
    color: #f00;
  }
  h2 {
    font-size: 2.5em;
  }

  h2 ~ p {
    max-width: 70%;
    text-align: center;
  }

/* HEADER STYLES */
.header-nav {
    float: right;
    padding: 20px 60px 0 0;
}

.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}

.header-nav > li ~ li {
    border-left: 1px solid #838e9e;
    padding-left: 1em;
}

.header-nav > li:first-child a {
    color: #ed6e2f;
}

.header-nav > li:last-child a {
    font-weight: 100;
}

.header-nav > li:first-child a:hover {
    color: black;
}

.header-nav a {
    color: black;
}


.header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 20;
    margin-left: -50px;
}

.header-logo {
    height: 50px; 
    position: relative;
    text-align: center;
    display: block;
    width: 150px;
    margin-left: 20px;
    padding-top: 10px;
}

.header-logo:hover,
.header-logo:active {
    opacity: 0.5;
}

.header-logo > img {
    max-width: 150px;
}

.nav-links a {
  color: black;
  font-size: 0.8 rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover, 
.nav-links a:active {
    color: #ed6e2f;
}

.footer-nav {
  margin-top: 20px;
}

.footer-nav li {
    display: inline-block;
    padding-right: 1em;
}

.footer-nav li ~ li {
    border-left: 1px solid #838e9e;
    padding-left: 1em;
}

.footer {
  background-color: white;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  position: absolute;
  margin-left: -50px;
  margin-top: 100px;
  padding-left: 30px;
  box-sizing: border-box;
}

.footer nav {
  margin-top: 45px;
}

.footer h3 {
  font-weight: 600;
}

.footer span {
  font-weight: 400;
  color: gray;
}

.footer-logo img{
  height: 50px; 
  width: 150px;
  object-fit: contain;
  margin-left: -10px;
}

  /* HERO STYLES */
  .full-hero {
    background-color: #c7dbfc;
    height: 95vh;
    width: auto;
    position: relative;
    padding-top: 75px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    text-align: center;
  }

  .full-hero:after {
    content: "﹀";
    position: absolute;
    bottom: 2vh;
    color: white;
    font-size: 36px;
  }

  .hero-home {
    background-image: url(../images/hero.jpg);
    background-position: center;
  }

  

  .hero-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-content h1 {
    font-size: 7vw;
    color: white;
    opacity: 0.8;
  }

  .hero-content h5 {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .hero-content .social-link {
    background-color: rgba(255, 255, 255, 0.847);
    color: #838e9e;
  }

  .hero-content .social-link:hover {
    background-color: white;
    color: #838e9e;
  }

/* HOME-PAGE STYLES */

.home-callout {
  text-align: center;
  margin-top: 100px;
  width: 90vw;
}

.callout-copy {
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.home-section {
  margin-top: 100px;
  text-align: center;
  width: 90vw;
}

.home-section h2 {
  margin-bottom: 20px;
}

.home-section p {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* SOCIAL STYLES */
  .social-link {
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #838e9e;
    box-sizing: border-box;
    border-radius: 99px;
    height: 2.5em;
    width: 2.5em;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1;
    padding-top: 0.85em;
  }

  .social-link:hover {
    background-color: #ed6e2f;
  }

  .social-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .social-list > li {
    display: inline-block;
    margin: 0 0.5em;
  }

  .social-list-footer {
    list-style: none;
    text-align: start;
    margin-top: 20px;
  }

  .social-list-footer > li {
    display: inline-block;
    margin: 0 0.5em;
  }
  /* BIO STYLES */
  .bio-wrapper {
    margin: 0 auto 30px;
    max-width: 960px;
    overflow: hidden;
    text-align: center;
  }

  .bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

  .bio-box {
    box-sizing: border-box;
    width: 28%;
    font-size: 1em;
    padding: 2%;
    float: left;
    margin: 40px 2% 0;
  }

  .bio-box .social-link {
    display: block;
    margin: 2em auto 1em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .bio-box img {
    width: 100%;
  }

  .bio-box h3 {
    font-size: 1.5em;
    text-align: center;
    margin: -35px 0 20px;
    color: white;
  }
  .bio-copy {
    color: black;
    line-height: 1.5;
  }